# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode/*
.mypy_cache/*
.idea/*

# Distribution / packaging
.env/*

# Datasets
# data/*
data/docile/*
!docile_5k/
!label_list.json
!data/docile/place_docile_data_here.txt

# Models
models/huggingface/*
!models/huggingface/layoutlm-base-uncased/place_layoutlm_base_uncased_here.txt

# Network certificates
cert/*

# Outputs of model training
models/layoutlm/outputs
models/layoutlmv3/outputs