# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode/*
.mypy_cache/*
.idea/*

# Distribution / packaging
.env/*

# Datasets
!data/
data/*
!data/docile/
data/docile/*
!docile_5k/
!data/docile/label_list.json
!data/docile/place_docile_data_here.txt
!data/docile/list_data_test.json
!data/docile/list_data_train.json
!data/docile/subset_index
# Models
!models/
models/*
!models/huggingface/
!models/layoutlm/
!models/layoutlm_mvlm/
models/huggingface/*
!models/huggingface/layoutlm-base-uncased/
models/huggingface/layoutlm-base-uncased/*
!models/huggingface/layoutlm-base-uncased/place_layoutlm_base_uncased_here.txt

# Network certificates
cert/*
